.main-top-creators {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-creators {
    max-width: 1050px;
    width: 100%;
}

.tc-title {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.tc-btn button {
    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #2b2b2b00;
    border-radius: 20px;
    border: 2px solid rgba(162, 89, 255, 1);
    text-align: center;
    cursor: pointer;
    width: 247px;
    height: 60px;
    gap: 12px;

    font-family: "Work Sans", sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    letter-spacing: 1px;

    transition: transform .2s;
}

.tc-btn button:hover {
    transform: scale(1.05) perspective(1px);
}


.tc-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 60px;
    max-width: 1055px;
    min-width: 1055px;
    width: 100%;
    gap: 30px;
}